@import url("https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.dustbunny {
  width: 110px;
  height: 110px;
  object-fit: contain;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

body {
  font-family: "Pacifico", cursive;
}
